
<form action="/" method="post" accept-charset="utf-8">
  <label for="title">Task Title:</label>
  <input type="text" name="task[title]" value="" id="title">

  <label for="description">Task Description:</label>
  <input type="text" name="task[description]" value="" id="description">

  <label for="completed_at">Completed at:</label>
  <input type="text" name="task[completed_at]" value="" id="completed_at">

  <input type="submit" value="Submit">
</form>
