	<% @query = Queries.new %>
	<% alltasks =	@query.show_completed_tasks %>

	<div class="task-container">
		<% alltasks.each do |task| %>
		<div class="task-item">
			<% task[0] %>
			<h1>
				<%= task[1] %>
			</h1>
			<p class="task-description">
			<%= task[2] %>
			<br/>
			<%= task[3] %>
		</p>
	<div class"both-forms">
		<form action="/deleted" method="post" accept-charset="utf-8">
			<fieldset class="check-deleted">
				<label>
					<input type="checkbox" name="deleted_check" value="<%= task[0] %>" />  Delete?<br />
				</label>
				<input class="submit-button" type="submit" value="Delete" />
			</fieldset>
		</form>
		</div>
	</div>
		<% end %>
	</div>
