<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
  <body>



              <fieldset>
                <legend>Your Travel Tasks</legend>
              <form action="/" method="post" accept-charset="utf-8">
                <h2>Title</h2>
                <label for="title"></label>
                <input type="text" name="title" value="" id="title">


                <h2>Description</h2>
                <label for="description"></label>
                <input type="text" name="description" value="" id="description">


                <h2>Complete By!</h2>
                <label for="complete_by"></label>
                <input type="text" name="complete_by" value="" id="complete_by">

                <br><br><input type="submit" value="Submit">

<%= params %>


              </form>
            </fieldset>


    </body>
</html>
