
<form action="/" method="post">
  <label><input name="title" value="" type="text" placeholder="Buy a dozen puppies" />Title</label>
  <label><textarea name="description" value="" placeholder="An optional description of the task"></textarea>Description</label>
 <input type="submit" value="YAY" />
</form>
