<section class="create-task">
  <h2>Create New Task</h2>
  <form action="<%= @edit_task ? "/#{@edit_task[0]}" : "/" %>" method="post">
    <label>Title<input name="title" value="<%= @edit_task[1] if @edit_task %>" type="text" placeholder="Buy a dozen puppies" /></label>
    <label>Description<textarea name="description" rows="10" cols="50" placeholder="An optional description of the task"><%= @edit_task[2] if @edit_task %></textarea></label>
   <input type="submit" value="CREATE" />
  </form>
</section>
