<div class="params">
  <% params %>
</div>

<h1>Add a Task!</h1>

<form class= "add_task" action="" method="post" accept-charset="utf-8">
  <label for="title">Title</label>
  <input type="text" name="task[title]" value="" id="title">

  <p><label for="description">Description</label>
  <textarea type="text" name="task[description]" value="" id="description"></textarea></p>

  <p><label for="completed_at">Completed at</label>
  <input type="text" name="task[completed_at]" value="" id="completed_at"></p>

  <input type="submit" value="Submit">
</form>
