<body>


<p>
  This is the index.
  <%= params %>
</p>
<!-- <% mytasks = TaskHandler.new %> -->
<!-- <% if mytasks == nil %>
<%= puts "You have no tasks to list." %>
<% else %> -->
<%= "#{mytasks.list_all}" %>
<!-- <% end %> -->
</body>
