<!DOCTYPE html>
<html>
<head>
  <title>Tasks Home</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

<h1>Travel Tasks!</h1>

<br>
<table>
  <tr>
    <th><h2>Task Number</h2></th>
    <th><h2>Task Title</h2></th>
    <th><h2>Description</h2></th>
    <th><h2>Complete By:</h2></th>
  </tr>
  <tr>
   <td>
     <%if @create%>
     <%@create.each do |element|%>
           <%element.each do |key,value|%>
           <p class="keys"><%=key%></p>
           <%end%>
         <%end%>
     <%end%>
   </td>
 </tr>
</table>

<br>
<a href="/create_task"> Creat a new Task!</a>



</body>
</html>
