<h1>TaskList</h1>
<!-- <img src="images/construction.gif" alt="Construction worker"/> -->
<a href="/add">Add a new task</a>
<a href="/search">Search for a task</a>
<section>
  <% if @all_tasks %>
  <table>
    <tr>
      <td>ID</td>
      <td>Task</td>
      <td>Priority</td>
      <td>Status</td>
      <td>Date Created</td>
      <td>Due Date</td>
      <td>Comments</td>
      <!-- <td>Date Completed</td> -->
      <td>Actions</td>
    </tr>
    <tr>
      <% @all_tasks.each do |value| %>
    </tr>
    <% value.each do |index| %>
    <td class ="<%= index %>"><%= index %></td>
    <% end %>
    <td>
      <form action="/edit" method "get">
        <input type="submit" value = "edit">
        <input type="hidden" name= 'task_id' value="<%= value[0]%>">
      </form>
      <form action="/delete" method="post">
        <input type="submit" value="Delete?" onclick="return confirm('Are you sure?')"/>
        <input type="hidden" name="task_id" value="<%= value[0] %>"/>
      </form>
    </td>
    <% end %>
  </table>
  <% end %>
</section>
