<div>
  <a href="/first_form">Add your task!</a>
</div>

<% if @results %>
  <div class="result">
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completed Date</th>
      </tr>
      <% @results.each do |row| %>
        <tr>
          <td><%= row[1] %></td>
          <td><%= row[2] %></td>
          <td><%= row[3] %><a href="/tasks/edit/<%= row[0] %>">Edit</a></button></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
