<fieldset>
    <legend>Enter a task:</legend>
      <form action="" method="post" accept-charset="utf-8">
        <label for="taskname"></label>
        <input class="input_area" type="text" name="task" value="" id="taskname">
<!-- 
        <label for="dateadded"></label>
        <input class="input_area" type="text" name="task" value="" id="taskname"> -->

        <label for="duedate"></label>
        <input class="input_area" type="time" name="duedate" value="" id="duedate">
        <input class="button" type="submit" value="Add to list">
    	</form>
</fieldset>

dateadded