<h1>Coming Soon!</h1>
<!-- <img src="images/construction.gif" alt="Construction worker"/> -->
<form action="" method="post" accept-charset="utf-8">
  <label for="task">Task</label>
  <input type="text" name="task" value="" id="task"/>
  <label for="priority">Priority</label>
  <fieldset>
    <label><input type="radio" name="priority" value="high"/>High</label>
    <label><input type="radio" name="priority" value="medium"/>Medium</label>
    <label><input type="radio" name="priority" value="low"/>Low</label>
  </fieldset>
  <label for="due_date">Due Date</label>
  <input type="text" name="due_date" value="" id="due_date"/>
  <label for="comments">Comments</label>
  <input type="text" name="comments" value="" id="comments"/>
  <input class="button" type="submit" value="Add Task"/>
</form>

<div class="params">
  <%= params %>
</div>
