<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

<h1>Travel Tasks!</h1>
<h2>Title</h2>
<h2>description</h2>
<h2> complete by</h2>
<%if @create%>
<%@create.each do |element|%>
      <%element.each do |key,value|%>
      <%=key%>
      <%end%>

    <%end%>
<%end%>

<a href="/create_task"> Creat a new Task!</a>



</body>
</html>
