<div class="list_headers">
  <ul>
    <li>Tasks</li>
    <li>Description</li>
    <li>Date Added</li>
    <li>Date Completed</li>
  </ul>
</div>

<div class="list">
  <% @show.length.times do |index| %>
  <div class="list_items">
    <ul>
      <li><%=@show[index][1]%></li>
      <li><%=@show[index][2]%></li>
      <li><%=@show[index][3]%></li>
      <li><%=@show[index][4]%></li>
    </ul>
  </div>
  <%end%>
</div>
