<body>


<p>
  This is the index.
</p>
<!-- <% mytasks = TaskHandler.new %> -->
<!-- <% if mytasks == nil %>
<%= puts "You have no tasks to list." %>
<% else %> -->
<%= puts mytasks.list_all %>
<!-- <% end %> -->
</body>
