
  <h2> Welcome to your to-do list! Your tasks are: </h2>

<div class = "tasklist">
  <% mytasks = TaskHandler.new %>
  <% if mytasks == nil %>
  <%= puts "You have no tasks to list." %>
  <% else %>
  <%= "#{mytasks.list_all}" %>
  <% end %>
</div>

<div class = "call_to_action">
  Would you like to add a new task? <a href="/addtask">Click here!</a>
</div>
