<h1>TaskList</h1>
<!-- <img src="images/construction.gif" alt="Construction worker"/> -->
<a href="/add">Add a new task</a>
<section>
  <% if @all_tasks %>
  <table>
    <tr>
      <td>ID</td>
      <td>Task</td>
      <td><a href="/priority/DESC">v</a>Priority<a href="/priority/ASC">^</a></td>
      <td><a href="/status/DESC">v</a>Status<a href="/status/ASC">^</a></td>
      <td><a href="/date_created/DESC">v</a>Date Created<a href="/date_created/ASC">^</a></td>
      <td><a href="/due_date/DESC">v</a>Due Date<a href="/due_date/ASC">^</a></td>
      <td>Comments</td>
      <td>Date Completed</td>
      <td>Actions</td>
    </tr>
    <tr>
      <% @all_tasks.each do |value| %>
    </tr>
    <% value.each do |index| %>
    <td class ="<%= index %>"><%= index %></td>
    <% end %>
    <td>
      <form action="/edit" method "get">
        <input type="submit" value = "edit">
        <input type="hidden" name= 'task_id' value="<%= value[0]%>">
      </form>
      <form action="/delete" method="post">
        <input type="submit" value="Delete?" onclick="return confirm('Are you sure?')"/>
        <input type="hidden" name="task_id" value="<%= value[0] %>"/>
      </form>
    </td>
    <% end %>
  </table>
  <% end %>
</section>
