<h1> <a href = "newtask"> New task </a> </h1>


<div class="task-list">
<%= params %> <br />
</div class="task-list">

<%= params[:title] %> <br /> => database 

<%= params[:description] %> <br />

<%= params[:completed] %> <br />

