<h1><a href="/add">Add a Task!</a></h1>

<table>
	<tr>
		<th>Task Name</th>
		<th>Description</th>
		<th>Completed</th>
	</tr>
<% @entire_list.each do |array| %>
<tr>
	<% array.drop(1).each do |item|%>
	<td><%= item %> </td>
	<% end %>

	<td><form method="post" action="/update">
      <input type="hidden" name="<%= array[0] %>" value="">
            <input type='submit' value='Update!'>
          </form></td>
</tr>
<% end %> 
</table>
