<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

<h1>Comming Soon</h1>

<% if @title %>
  <p>You title is: <%= @title %> </p>
<% end %>

</body>
</html>
