<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/styles.css">
  </head>

  <body>
    <header>
      <h1>Your Task List.</h1>
      <nav>
      </nav>
    </header>

    <section>
      <%= yield %>
    </section>

  </body>
</html>
