<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>
  <section class = "section-background">
<%= yield %>
</section>
</body>
</html>
