<!DOCTYPE html>
<html>

  <head>
    <title>Task List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/styles.css">
  </head>

  <body>
    <header>
      <h1>Task List</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">Tasks</a><li>
      </ul>
    </nav>

    <body>
      <%= yield %>
    </body>

    <footer>
      <p>TaskList, LLC</p>
    </footer>

  </body>

</html>
