<!DOCTYPE html>
<html>
<head>
  <title>Scrabble</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="css" href="stylesheets/styles.css">
</head>

<body>
<header>
  <h1>To-Do!</h1>
</header>

<section class="container">

<%= yield %>

</section>

</html>
