<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Tasks</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="/stylesheets/stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
  </head>

<body>
  <main>
    <%= yield %>
  </main>
</body>

</html>
