<!DOCTYPE html>
<html>
  <head>
    <title>Task Master</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' type= 'css' href="/stylesheets/styles.css">
  </head>

  <body>
    <h1>Get It Done!</h1>

    <header>
      <a href="/">Home</a>
    </header>



    <main>
      <%= yield %>
    </main>



    <footer>
      Made by Adriana Cannon and Deirdre Storck 2016
    </footer>


  </body>
</html>
