<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Tasks</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/stylesheet.css">
  </head>

  <main>
    <%= yield %>
  </main>

  </html>
