
<fieldset>
    <legend>Enter a task:</legend>
      <form action="" method="post" accept-charset="utf-8">
        <h3>Task:</h3>
        <label for="title"></label>
        <input class="input_area" type="text" name="title" value="" id="title">

        <h3>Description:</h3>
        <label for="description"></label>
        <input class="input_area" type="text" name="description" value="" id="description">

<!--         <label for="date_added"></label>
        <input type="text" name="" value="<%=Time.now%>" id="date_added"> -->

       <!--  <label for="completed_at"></label>
        <input type="text" name="" value="" id="completed_at"> -->
        <br>
        <input id= "add" class="button" type="submit" value="Add to list">


        <!-- <label for="completed_at"></label>
        <input class="input_area" type="date" name="completed_at" value="" id="completed_at"> -->
    	</form>
</fieldset>

