

<div class="params">
  <%= params %>
</div>

<fieldset>
    <legend>Enter a task:</legend>
      <form action="" method="post" accept-charset="utf-8">
        <label for="title"></label>
        <input class="input_area" type="text" name="title" value="" id="title">

        <label for="description"></label>
        <input class="input_area" type="text" name="description" value="" id="description">

        <label for="date_added"></label>
        <input type="datetime" name="timestamp" id="date_added">

        <input class="button" type="submit" value="Add to list">


        <!-- <label for="completed_at"></label>
        <input class="input_area" type="date" name="completed_at" value="" id="completed_at"> -->
    	</form>
</fieldset>

dateadded
