<!-- create new task -->

<form action="" method="post" acet-charset="utf-8">
  <label class="form_label" for="user_word"></label>
  <input type="text" name=task_hash[title] value="Input Word Here" id="user_word">
  <input type="text" name=task_hash[description] value="Input Word Here" id="user_word">
  <input type="text" name=task_hash[completed_at] value="Input Word Here" id="user_word">
  <input type="submit"  value="" name="submit" id="submit">
</form>
