* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  background-color: #2d5986;
  color: #ecf2f9;
}

h2 {
  margin: .25rem 0;
}

header.title {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

  /*INDEX*/
.task-info {
  display: inline-block;
  width: 65%;
  margin-left: .25rem;
}
.task-box {
  background-color: rgb(200, 200, 200);
  background-color: rgba(200, 200, 200, .5);
  width: 45%;
  border: .25rem solid #18314e;
  color: #ecf2f9;
  margin: 2% 2.5%;
  min-height: 4rem;
  float: left;
}


.completed {
  font-style: italic;
  background-color: rgb(50, 77, 100);
  background-color: rgba(50, 77, 100, .7);
  float: left;
}

.uncomplete:nth-child(2n) {
  float: right;
}

.checkbox {
  height: 2rem;
  width: 10%;
  border: .25rem solid #18314e;
  background-color: rgb(155, 155, 155);
  background-color: rgba(155, 155, 155, .5);
  float: left;
  margin: 2% 3%;
}

.checkbox:hover {
  background-color: rgba(255, 255, 255, .8);
}

.completed .checkbox  {
  background-image: url('/images/creepysmile.png');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.task-edits {
  float: right;
  /*display: block;*/
  width: 15%;
  margin: 1%;
  font-size: 1rem;
}

.new-task {
  font-size: 1.5rem;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.column-title{
  clear: both;
  width: 100%;
  text-align: center;
}

.completed:nth-child(2n+1)  {
  float: right;
}
