h2 {
  margin: 5%;
  display: inline;
}
table {
  border-style: solid;
}

th, td {
  padding: 3%;
  width: 10%;
   border: 1px solid black;
}

.keys {
  margin: 8%;
  display: inline;
  text-align:center;
}
